body {
  margin: 20px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e2e;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

/* Название программы */
.program-title {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.program-title h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

/* Основной контейнер */
.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1300px; /* Ограничиваем максимальную ширину */
  margin: 20px 0; /* Отступ сверху и снизу */
  gap: 20px; /* Расстояние между блоками */
}

/* Левый блок управления */
.control-panel {
  background-color: #292b3e;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.control-panel h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #f0f0f0;
}

.action-button {
  width: 100%;
  padding: 12px;
  background-color: #ff6f00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.action-button:hover {
  background-color: #d35400;
}

/* Центральный блок с видео */
.content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 15px; /* Расстояние между блоками */
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  overflow: hidden; /* Обрезаем выступающие части */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

video,
canvas {
  /* border: 2px solid #555; */
  border-radius: 5px;
  width: 800px;
  height: 480px;
}

/* Результаты анализа */
.results-container {
  background-color: #292b3e;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  max-height: 150px;
  overflow-y: auto;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.results-container h2 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.results-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.results-container li {
  margin-bottom: 8px;
  font-size: 0.95rem;
}

/* Нижний блок настроек */
.advanced-controls {
  background-color: #292b3e;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.advanced-controls h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.control-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.control-group label {
  flex: 1;
  font-size: 1rem;
  color: #ffffff;
}

.control-group input[type="range"],
.control-group input[type="file"] {
  flex: 2;
  margin: 0 10px;
}

.control-group span {
  flex: 0.5;
  text-align: right;
  font-size: 0.9rem;
  color: #ccc;
}

.apply-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.apply-button:hover {
  background-color: #0056b3;
}

.action-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#stopAnalysis {
  background-color: red; /* Красный фон */
  color: white; /* Белая иконка */
  border: none; /* Без рамки */
  border-radius: 50%; /* Круглая форма */
  margin: 20px;
  width: 55px; /* Ширина кнопки */
  height: 45px; /* Высота кнопки */
  display: flex; /* Центровка иконки */
  align-items: center; /* Вертикальное выравнивание */
  justify-content: center; /* Горизонтальное выравнивание */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Легкая тень */
  cursor: pointer; /* Курсор указателя */
  transition: transform 0.2s, box-shadow 0.2s; /* Анимация нажатия */
}

#stopAnalysis:hover {
  background-color: darkred; /* Более темный цвет при наведении */
}

#stopAnalysis:active {
  transform: scale(0.9); /* Легкое уменьшение при клике */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень при клике */
}
